<div class="article">
  <h1>Locking your bicycle</h1>
  <form action='/' method='get'>
    <button class='no'> go back home </button>
  </form>
  <p>
  Whenever we locked our bicycles, we were often given weird looks or uproariously laughed at. From a local Thai perspective, it's understandable why our actions seemed excessive. In Thailand, theft (depriving a person or organisation of property without force with the intent to keep it) is relatively low with rate of 58.9 per 100,000 people in 2014 in contrast to a rate of 1,833.9 per 100,000 people in the United States in 2014 <a href ="https://data.unodc.org/ ">(link)</a>.
  </p>
  <p>
  During our 2.5 month trip, there were a handful of times that we realized in acute panic, an expensive item was missing or left at our last location, most memorably a Nexus phone (twice) and a pair of Vortex binoculars. Luckily, each time our items had been picked up by a good samaritan or store owner, and after showing proof that it was ours, it was happily handed back.
  </p>
  <p>
  Determining whether to lock your bicycle or bring a lock at all is entirely at your own risk. As with any country, certain regions within a country have higher incidents of theft than others. When we read about bicycle theft reported on Bicycle facebook pages in Bangkok and Chiang Mai for example, theft often occurred when:
    <ul>
      <li>The bicycle was not locked at all</li>
      <li>The bicycle was locked only to itself (the back wheel was locked for example)</li>
      <li>The bicycle had noticeably higher value. </li>
    </ul>
  <p>
  On our travels, we ran into some absurdly small locks that other cyclists carried and clearly never used. In general from what we observed, having a bicycle lock, even a small one, tended to relieve most cyclists of theft-paranoia.
  </p>
  <p>
  How paranoid or how nice your items are should determine may be useful in determining what bicycle lock to bring. For us, we decided to minimize all bicycle theft risk. We brought a ½” thick, 18” long 4-number spiral lock to Thailand and bought a smaller $6 4-number ¼” thick, 12” long spiral lock bicycle locks.
  </p>

</div>
