/*----------------------TESTING STUFF & Javascript Stuff-------------------*/
/* * {
  border:.5px solid grey;
} */
.red {
	/*background-color:red;*/
}
.green {
	/*background-color:green;*/
}


/*-----------------------GENERAL STUFF------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  border:0;
  margin:0;
  padding:0;
}


.column {
  display:flex;
  flex-direction:column;
}

.row {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.box {
  display:flex;
  flex-direction:column;
}

button {
  border: none;
  color:white;
  background-color:#2a3030;
  font-weight:500;
  font-size:12px;
  border-radius:5px;
	box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	align-self: center;
  padding:5px;
  margin:5px;
}

button:focus {
  outline:0;
}

.transparent {
  background-color:transparent;
  color:#2a3030;
  border:1px solid #2a3030;
}

input {
	border: none;
	padding:2px;
	color: floralwhite;
	font-size:12px;
  background-color:#2a3030;
  font-size:12px;
  border-radius:2px;
}

input:focus {
	outline:0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	padding:4px;
  color: white;
	font-size:12px;
}
::-moz-placeholder { /* Firefox 19+ */
	padding:4px;
  color: white;
	font-size:12px;
}
:-ms-input-placeholder { /* IE 10+ */
	padding:4px;
  color: white;
	font-size:12px;
}
:-moz-placeholder { /* Firefox 18- */
	padding:4px;
  color: white;
	font-size:12px;
}

.none {
  display:none;
}
/*----------------------------FONTS---------------------------*/
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family:"roboto", "arial";
  transform:none;
  padding:0;
  margin:0;
  color:#2a3030;
  font-weight:300;
}

h2 {
  font-weight:600;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 14px;
  font-weight: 300;
}

p, li, a {
  font-size:12px;
}

ul {
  list-style:none;
  padding:10px;
}

a {
  color:blue;
  font-weight:500;
  text-decoration:none;
	padding:0;
	margin:0;
}

.siteWrapper {
  min-height:100vh;
  background-color:#dbd960;
  min-width:300px;

}

/*---------------------Title Box--------------------------*/

.siteTitleWrapper {
  justify-content:flex-end;
  background-color:floralwhite;
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, .1);
  transition:all 200ms;

}

.siteTitle {
  padding:3px 5px 3px 5px;
	color:rgba(255, 206, 77, 0.94);
}

.siteSubtitle {
  padding:3px 5px 3px 5px;
  justify-content:space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, .1);
}

.siteSubtitle > p {
  text-transform:uppercase;
  letter-spacing:.5px;
}

.aboutText {
  position:absolute;
  top:-2vw;
  left:38vw;
  transition:200ms all;
}

.aboutText > div {
  width:60vw;
  height:50%;
  overflow:scroll;
  align-self:center;
  background-color:#2a3030;
  border-radius:5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.aboutText > div > p {
  color:#fffcf7;
  font-size:12px;
  line-height:1.2;
  padding:5vw 4vw 4vw 4vw;
}

.aboutClosed {
  top:-60vw;
  transition:200ms all;
}

.photoSlider {
	display: flex;
	width:100%;
	overflow: hidden;
	height:70vw;
	transition:200ms;
	position:relative;
}

.smallPhotoSlider {
	transition:200ms;
	height:10vw;
}

.titleImg {
	overflow:hidden;
	height:70vw;
	flex:1;
	transition:200ms;
}

.smallTitleImg {
	filter: blur(4px);
	transition:200ms;
}

.unsquishButton {
	height:7vw;
	width:7vw;
	background-color:white;
	z-index:10;
	position:absolute;
	top:1vw;
	left:92vw;
	border-radius:100%;
	opacity: 0;
}

.lowOpacity {
  opacity:0.5;
}

.unsquishButton > img {
	width:103%;
}


/*---------------------Search Bar--------------------------*/



.dropdownSearch {
	flex-grow:3;
	margin:5px;
	padding:3px 0 3px 0;
}

.dropdownWrapper {
	margin:5px 5px 15px 5px;
	max-height:100px;
	overflow:scroll;
	border-radius:5px;
  background-color:#2a3030;
}

.dropdownItem {
	/*color:white;*/
	margin-bottom:4px;
	/*border-bottom:1px solid #2a3030;*/
  color:floralwhite;
}

.searchButton {
	flex-grow:1;
}


/*---------------------Category Box--------------------------*/

.categoryListWrapper {
  position:relative;
}

.categoryWrapper {
  align-content:center;
  justify-content:center;
  margin:5px 0 5px 0;
  background-color:#fcfa6a;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, .1);
}

.categoryWrapper:hover {
  background-color:#f7f674;
}

.categoryTitle {
  align-content:center;
  align-items:center;
  justify-content:space-between;
  padding:10px;
  transition: all 200ms;
}

.categoryTitle:hover {
  cursor:pointer;
}

.categoryTitle > img {
  width:30px;
  height:30px;
  padding:1vw;
}

.categoryImgWrapper {
  max-width:100%;
  margin:10px;
  overflow:hidden;
}

.categoryImg {
  max-width:100%;
  width: auto;
  height: auto;
}

/*---------------------Subcategory Box--------------------------*/

.subCategoryWrapper {
  background-color:#fffec1;
  overflow:hidden;
}

.subCategoryTitle {
  margin:20px;
  padding-top:3px;
  padding-bottom:3px;
  border-bottom:dotted 1px #2a3030;
  transition:all 100ms ease-in-out;
}
.subCategoryTitle:hover {
  /*border-right: 20px solid #2a3030;*/
  cursor:pointer;
}

.mapCategory {
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.mapSubCategory {
  width:88vw;
  max-width:800px;
  height:35vw;
  max-height:150px;
  border:solid 1px #6ea09f;
  border-radius:5px;
  overflow:hidden;
  background-color:#6ea09f;
}
.mapSubCategory > h6 {
  padding-bottom:5px;
  text-align:center;
  color:white;
}
.mapSubCategory > img {
  width:100%;
}
.mapSubCategory:hover {
  padding-left:0px;
  border-left:1px solid #6ea09f;
}
/*----------------------Article------------------------------*/

.article {
  padding: 0 35px 15px; 35px;
}

.article > p {
  padding:5px;
  border-left: 20px solid #F3D1AF;
  margin-bottom:10px;
}

.articleActionBar {
	justify-content: flex-start;
	align-items: center;
	padding:0px 0px 30px 0px;
}

.icon {
	width:20px;
	height:20px;
	padding-left:5px;
}

.iconLink {
	display:flex;
	justify-content: center;
	background-color: white;
	margin:0;
	padding:0;
}

.iconForm {
	display:flex;
	justify-content: center;
	background-color: white;
	margin:0;
	padding:0;
}



/*----------------------Some Behavior Items------------------------------*/
/*----------------------alternate colors------------------------------*/
.siteTitleWrapper {
  background-color:transparent;
}

.siteWrapper {
  background-color:floralwhite;
}

.siteSubtitle > p {
  color:#2a3030;
}

.categoryWrapper {
  background-color:floralwhite;
}

.categoryWrapper:hover {
  background-color: #fffcf7;
}

.categoryTitle:hover {
  border-bottom:2px solid #DAD6C4;
}

.subCategoryWrapper {
  background-color:#FFFFFF;
}
