/*----------------------TESTING STUFF-------------------*/
/* * {
  border:.5px solid grey;
} */
.red {
	/*background-color:red;*/
}
.green {
	/*background-color:green;*/
}

/*-----------------------GENERAL STUFF------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  border:0;
  margin:0;
  padding:0;
}


.column {
  display:flex;
  flex-direction:column;
}

.row {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.box {
  display:flex;
  flex-direction:column;
}

button {
  border: none;
  color:white;
  background-color:#344c4c;
  font-weight:500;
  font-size:12px;
  border-radius:5px;
	box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	align-self: center;
}

button:focus {
  outline:0;
}

input {
	border: none;
	padding:2px;
	color: white;
	font-size:12px;
  background-color:#344c4c;
  font-size:12px;
  border-radius:2px;
}

input:focus {
	outline:0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	padding:2px;
  color: white;
	font-size:12px;
}
::-moz-placeholder { /* Firefox 19+ */
	padding:2px;
  color: white;
	font-size:12px;
}
:-ms-input-placeholder { /* IE 10+ */
	padding:2px;
  color: white;
	font-size:12px;
}
:-moz-placeholder { /* Firefox 18- */
	padding:2px;
  color: white;
	font-size:12px;
}


.none {
  display:none;
}
/*----------------------------FONTS---------------------------*/
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family:"roboto", "arial";
  transform:none;
  padding:0;
  margin:0;
  color:#2a3030;
  font-weight:300;
}

h2 {
  font-weight:600;
}

p, li, a {
  font-size:12px;
}

ul {
  list-style:none;
  padding:10px;
}

a {
  color:blue;
  font-weight:500;
  text-decoration:none;
	padding:0;
	margin:0;
}

.siteWrapper {
  min-height:100vh;
  background-color:#dbd960;
  min-width:300px;

}

/*---------------------Title Box--------------------------*/

.siteTitleWrapper {
  justify-content:flex-end;
  background-color:#54140f;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.08);
  transition:all 200ms;

}

.siteTitle {
  padding:3px 5px 3px 5px;
	color:rgba(255, 206, 77, 0.94);
}

.siteTitle > h2 {
	color:rgba(255, 206, 77, 0.94);
}

.siteSubtitle {
  padding:3px 5px 3px 5px;
  justify-content:space-between;
}

.siteSubtitle > p {
  text-transform:uppercase;
  font-size:10px;
  letter-spacing:.5px;
	color:rgba(255, 206, 77, 0.94);
}

.about:hover {
  cursor:pointer;
}


.circle {
  background-color:black;
  opacity:0;
  transition:all 200ms;
  height:10vw;
  width:10vw;
  border-radius:100%;
  background-color:#344c4c;
  position:absolute;
  justify-content:center;
}

.openAbout {
  height:120vw;
  width:120vw;
  z-index:1;
  margin-right:-30vw;
  opacity:0.9;
	transition:200ms;
	box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.08);
}

.openAbout > button {
  margin:10px;
}

.aboutText {
  width:200px;
  align-self:center;
}

.aboutText > p{
  color:white;
}

.photoSlider {
	display: flex;
	width:100%;
	overflow: hidden;
	height:70vw;
	transition:200ms;
}

.smallPhotoSlider {
	transition:200ms;
	height:10vw;
}

.titleImg {
	overflow:hidden;
	height:70vw;
	flex:1;
	transition:200ms;
}

.smallTitleImg {
	filter: blur(4px);
	transition:200ms;
}
/*---------------------Search Bar--------------------------*/



.dropdownSearch {
	flex-grow:3;
	margin:5px;
	padding:3px 0 3px 0;
}

.dropdownWrapper {
	margin:5px;
	max-height:70px;
	overflow:scroll;
	border-radius:2px;
	background-color:#344c4c;
}

.dropdownItem {
	color:white;
	margin-bottom:3px;
	border-bottom:1px solid white;
}

.searchButton {
	flex-grow:1;
	color:white;
	background-color:#344c4c;
	padding:3px 0 3px 0;
	margin:5px;
}


/*---------------------Category Box--------------------------*/

.categoryListWrapper {
  position:relative;
}

.categoryWrapper {
  align-content:center;
  justify-content:center;
  margin:5px 0 5px 0;
  background-color:#fcfa6a;
  box-shadow: 10px 20px 20px 2px rgba(0, 0, 0, 0.08);
}

.categoryWrapper:hover {
  background-color:#f7f674;
}

.categoryTitle {
  align-content:center;
  align-items:center;
  justify-content:space-between;
  padding:10px;
  transition: all 200ms;
}

.categoryTitle:hover {
  cursor:pointer;
}

.categoryTitle > img {
  width:30px;
  height:30px;
  padding:1vw;
}

.categoryImgWrapper {
  max-width:100%;
  margin:10px;
  overflow:hidden;
}

.categoryImg {
  max-width:100%;
  width: auto;
  height: auto;
}

/*---------------------Subcategory Box--------------------------*/

.subCategoryWrapper {
  background-color:#fffec1;
  overflow:hidden;
}

.subCategoryTitle {
  margin:20px;
  padding-top:3px;
  padding-bottom:3px;
  border-bottom:solid 1px #6ea09f;
  transition:all 100ms ease-in-out;
}
.subCategoryTitle:hover {
  border-right: 20px solid #6ea09f;
  cursor:pointer;
}

.mapCategory {
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.mapSubCategory {
  width:88vw;
  max-width:800px;
  height:35vw;
  max-height:150px;
  border:solid 1px #6ea09f;
  border-radius:5px;
  overflow:hidden;
  background-color:#6ea09f;
}
.mapSubCategory > h6 {
  padding-bottom:5px;
  text-align:center;
  color:white;
}
.mapSubCategory > img {
  width:100%;
}
.mapSubCategory:hover {
  padding-left:0px;
  border-left:1px solid #6ea09f;
}
/*----------------------Article------------------------------*/

.article {
  padding:0px 25px 40px 25px;
}
.article > h1 {
	padding:30px 0px 5px 0px;
}
.article > p {
  font-size:15px;
  padding:5px 0px 5px 0px;
}

.articleActionBar {
	justify-content: flex-start;
	align-items: center;
	padding:0px 0px 30px 0px;
}

.icon {
	width:20px;
	height:20px;
	padding-left:5px;
}

.iconLink {
	display:flex;
	justify-content: center;
	background-color: white;
	margin:0;
	padding:0;
}

.iconForm {
	display:flex;
	justify-content: center;
	background-color: white;
	margin:0;
	padding:0;
}
